body {
  margin: 0 auto;
}

.main {
  margin: 50px;
  background-color: rgb(201, 174, 245);
  width: 80pv;
}

h3 {
  text-align: center;
}

input {
  margin: 10px;
}

.task {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

input[type="button"] {
  background-color: rgb(110, 238, 255);
  border-radius: 10px;
}