.cards{
  width: 300px;
  height: 300px;
  background-color: rgb(157, 206, 150);
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(4, 100, 245, 0.25);
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
}

.cards input{
  margin: 10% 30%;
  width: 40%;
  border-radius: 20px;
  background-color: rgba(190, 57, 162, 0.664);
}